@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&display=swap');

:root {
  --margin-default: 9%;
  --margin-small: 10px;
  --margin-medium: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top:7%;
  margin-bottom:7%;
  font-family: 'DM Sans', sans-serif;
  color: rgba(32, 30, 30, 0.87);
  background: url('/back.jpg') no-repeat center center fixed;
  background-size: cover;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(183, 121, 82, 0.1); /* darker background */
  box-shadow: 0 8px 16px rgba(143, 49, 28, 0.8);
  backdrop-filter: blur(6px);
  flex-direction: column;
  justify-content: center;
  border-radius:16px;
} 


.app-header {
  margin-bottom: 30px;
}

.app-header h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align:center;
}


.input-container textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  font-size: 1em;
}

.input-container textarea::placeholder {
  color: rgba(50, 50, 50, 0.5); 
  font-style:italic;
}

button {
  padding: 7px 17px;
  background-color: #fff1cfc3;
  color: #2c2c2c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight:bold;
  text-transform: uppercase;
}

button:hover {
  background-color: #fadbe9ae;
  transition: background-color 0.5s ease-in-out;
}

.narrative-intro {
  margin-bottom: 20px;
  font-size: 1em;
  text-align: left;
  font-style:italic;
}

.narrative-intro p{
  margin-top:15px;
}

.chat-container {
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
  margin-bottom: 20px;
  border-top: 2px solid #ddd;
  padding-top: 10px;
}

.chat-message {
  margin-bottom: 10px;
}


.chat-message.user{
    color: #851717af;
    font-style:italic;
    font-family: 'Cormorant Garamond', serif;
    font-weight:bold;
    font-size:20px;
}

.chat-message.assistant {
  color: rgba(32, 30, 30, 0.87);
}

